import { defineConfig } from "@hey-api/openapi-ts";

export default defineConfig({
  input: "./{{ resource_dir }}/generated/openapi.json",
  output: {
    path: "./{{ resource_dir }}/generated/api",
    format: "prettier",
  },
  plugins: [
    "@hey-api/schemas",
    "@hey-api/sdk",
    "@hey-api/client-fetch",
    {
      name: "@hey-api/typescript",
      enums: "javascript",
    },
  ],
});
