<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="{{ "{{ csrf_token | default('') }}" }}" />
  <title>{% raw %}{% block title %}{% endraw %}{{ "{{ project_name }}" }}{% raw %}{% endblock %}{% endraw %}</title>
  {{ "{{ vite_hmr() }}" }}
  {{ "{{ vite('resources/main.js') }}" }}
</head>
<body hx-ext="litestar">
  {% raw %}{% block content %}{% endraw %}{% raw %}{% endblock %}{% endraw %}
</body>
</html>
