{% extends "base.html.j2" %}

{% block content %}
<main class="app" x-data="{ count: 0 }">
  <h1>{{ "{{ project_name }}" }}</h1>
  <p>HTMX + Alpine.js + Litestar</p>
  <div class="card">
    <button @click="count++">
      count is <span x-text="count"></span>
    </button>
  </div>
  <div class="card">
    <button hx-get="/api/hello" hx-target="#greeting" hx-swap="innerHTML">
      Load Greeting from API
    </button>
    <p id="greeting"></p>
  </div>
</main>
{% endblock %}
