{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build{% if use_typescript %} && tsc -b --noEmit{% endif %}",
    "preview": "vite preview",
    "serve": "vite preview",
    "watch": "npm run serve",
    "update": "npm update"{% if enable_types %},
    "generate-types": "openapi-ts --config openapi-ts.config.ts"{% endif %}
  },
  "dependencies": {
    "@inertiajs/svelte": "{{ package_version('@inertiajs/svelte') }}",
    "svelte": "{{ package_version('svelte') }}"{% if generate_zod %},
    "zod": "{{ package_version('zod') }}"{% endif %}
  },
  "devDependencies": {
{%- if enable_types %}
    "@hey-api/openapi-ts": "{{ package_version('@hey-api/openapi-ts') }}",
{%- endif %}
    "@sveltejs/vite-plugin-svelte": "{{ package_version('@sveltejs/vite-plugin-svelte') }}",
{%- if use_tailwind %}
    "@tailwindcss/vite": "{{ package_version('@tailwindcss/vite') }}",
{%- endif %}
    "litestar-vite-plugin": "{{ package_version('litestar-vite-plugin') }}",
    "svelte-check": "{{ package_version('svelte-check') }}",
{%- if use_tailwind %}
    "tailwindcss": "{{ package_version('tailwindcss') }}",
{%- endif %}
    "tslib": "{{ package_version('tslib') }}",
    "typescript": "{{ package_version('typescript') }}",
    "vite": "{{ package_version('vite') }}"
  }
}
