{
    "private": true,
    "type": "module",
    "scripts": {
        "dev": "vite",
        "build": "vite build{% if enable_ssr %} && vite build --ssr{% endif %}"
    },
    "dependencies": {
         "{{ dependencies | join(', \"') }}"
    },
    "devDependencies": {
         "{{ dev_dependencies | join(', \"') }}"
    }
}
