{
  "compilerOptions": {
    "target": "ESNext",
    "useDefineForClassFields": true,
    "module": "ESNext",
    "moduleResolution": "node",
    "strict": true,
    "jsx": "preserve",
    "resolveJsonModule": true,
    "isolatedModules": true,
    "esModuleInterop": true,
    "lib": ["ESNext", "DOM"],
    "skipLibCheck": true,
    "noEmit": true,
    "composite": true,
    "allowSyntheticDefaultImports": true,
    "baseUrl": "{{ resource_path }}",
    "paths": {
      "@/*": ["./*"]
    },
    "types": ["vite/client", "node"]
  },
  "include": [
    "vite.config.ts",
    "**/*.d.ts",
    "{{ resource_path }}/**/*.ts" ,
    "{{ resource_path }}/**/*.tsx",
    "{{ resource_path }}/**/*.vue"
  ]
}
