{
  "name": "{{ project_name }}",
  "version": "0.0.0",
  "private": true,
  "type": "module",
  "scripts": {
    "ng": "ng",
    "start": "ng serve --proxy-config proxy.conf.json",
    "build": "ng build"{% if generate_client %},
    "generate-types": "openapi-ts"{% endif %}
  },
  "dependencies": {
    "@angular/animations": "{{ package_version('@angular/animations') }}",
    "@angular/common": "{{ package_version('@angular/common') }}",
    "@angular/compiler": "{{ package_version('@angular/compiler') }}",
    "@angular/core": "{{ package_version('@angular/core') }}",
    "@angular/forms": "{{ package_version('@angular/forms') }}",
    "@angular/platform-browser": "{{ package_version('@angular/platform-browser') }}",
    "@angular/platform-browser-dynamic": "{{ package_version('@angular/platform-browser-dynamic') }}",
    "@angular/router": "{{ package_version('@angular/router') }}",
    "rxjs": "{{ package_version('rxjs') }}"
  },
  "devDependencies": {
    "@angular/build": "{{ package_version('@angular/build') }}",
    "@angular/cli": "{{ package_version('@angular/cli') }}",
    "@angular/compiler-cli": "{{ package_version('@angular/compiler-cli') }}",
{% if generate_client %}    "@hey-api/openapi-ts": "{{ package_version('@hey-api/openapi-ts') }}",
{% endif %}    "@tailwindcss/postcss": "{{ package_version('@tailwindcss/postcss') }}",
    "@types/node": "{{ package_version('@types/node') }}",
    "postcss": "{{ package_version('postcss') }}",
    "tailwindcss": "{{ package_version('tailwindcss') }}",
    "typescript": "{{ package_version('typescript') }}"
  }
}
