import { defineConfig } from "vite";
import litestar from "litestar-vite-plugin";
{% if use_tailwind %}
import tailwindcss from "@tailwindcss/vite";
{% endif %}

const ASSET_URL = process.env.ASSET_URL || "{{ asset_url }}";
const VITE_PORT = process.env.VITE_PORT || "{{ vite_port }}";
const LITESTAR_PORT = process.env.LITESTAR_PORT || "{{ litestar_port }}";

export default defineConfig({
  base: ASSET_URL,
  server: {
    host: "0.0.0.0",
    port: Number(VITE_PORT),
    cors: true,
    hmr: {
      host: "localhost",
    },
  },
  plugins: [
{% if use_tailwind %}
    tailwindcss(),
{% endif %}
    litestar({
      input: ["{{ resource_dir }}/main.js"],
      assetUrl: ASSET_URL,
      bundleDirectory: "{{ bundle_dir }}",
      resourceDirectory: "{{ resource_dir }}",
    }),
  ],
  resolve: {
    alias: {
      "@": "/{{ resource_dir }}",
    },
  },
});
