{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
{% if enable_ssr %}
    "build": "{% if use_typescript %}tsc -b --noEmit && {% endif %}vite build && vite build --ssr {{ resource_dir }}/ssr.tsx",
{% else %}
    "build": "{% if use_typescript %}tsc -b --noEmit && {% endif %}vite build",
{% endif %}
    "preview": "vite preview",
{% if enable_ssr %}
    "serve": "NODE_ENV=production node {{ resource_dir }}/bootstrap/ssr/ssr.js",
{% else %}
    "serve": "vite preview",
{% endif %}
    "watch": "npm run serve",
    "update": "npm update"{% if generate_client %},
    "generate-types": "openapi-ts"{% endif %}
  },
  "dependencies": {
{%- for dep in dependencies %}
    "{{ dep }}": "{{ package_version(dep) }}"{% if not loop.last or generate_zod or generate_client %},{% endif %}
{%- endfor %}
{%- if generate_client %}
    "axios": "{{ package_version('axios') }}"{% if generate_zod %},{% endif %}
{%- endif %}
{%- if generate_zod %}
    "zod": "{{ package_version('zod') }}"
{%- endif %}
  },
  "devDependencies": {
{%- for dep in dev_dependencies %}
    "{{ dep }}": "{{ package_version(dep) }}",
{%- endfor %}
{%- if use_tailwind %}
    "@tailwindcss/vite": "{{ package_version('@tailwindcss/vite') }}",
    "tailwindcss": "{{ package_version('tailwindcss') }}",
{%- endif %}
{%- if generate_client %}
    "@hey-api/openapi-ts": "{{ package_version('@hey-api/openapi-ts') }}",
{%- endif %}
    "litestar-vite-plugin": "{{ package_version('litestar-vite-plugin') }}"
  }
}
