{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vue-tsc -b && vite build",
    "preview": "vite preview",
    "serve": "vite preview",
    "watch": "npm run serve",
    "update": "npm update"{% if generate_client %},
    "generate-types": "openapi-ts"{% endif %}
  },
  "dependencies": {
    "vue": "{{ package_version('vue') }}"{% if generate_zod %},{% endif %}
{%- if generate_zod %}
    "zod": "{{ package_version('zod') }}"
{%- endif %}
  },
  "devDependencies": {
    "@types/node": "{{ package_version('@types/node') }}",
    "@vitejs/plugin-vue": "{{ package_version('@vitejs/plugin-vue') }}",
    "@vue/tsconfig": "{{ package_version('@vue/tsconfig') }}",
    "typescript": "{{ package_version('typescript') }}",
    "vue-tsc": "{{ package_version('vue-tsc') }}",
{%- if use_tailwind %}
    "@tailwindcss/vite": "{{ package_version('@tailwindcss/vite') }}",
    "tailwindcss": "{{ package_version('tailwindcss') }}",
{%- endif %}
{%- if generate_client %}
    "@hey-api/openapi-ts": "{{ package_version('@hey-api/openapi-ts') }}",
{%- endif %}
    "litestar-vite-plugin": "{{ package_version('litestar-vite-plugin') }}",
    "vite": "{{ package_version('vite') }}"
  }
}
