{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build{% if use_typescript %} && {% if framework in ['vue', 'vue-inertia'] %}vue-tsc -b --noEmit{% else %}tsc -b --noEmit{% endif %}{% endif %}",
    "preview": "vite preview",
    "serve": "vite preview",
    "watch": "npm run serve",
    "update": "npm update"{% if generate_client %},
    "generate-types": "openapi-ts"{% endif %}
  },
  "dependencies": {
{%- for name, version in dependencies_map.items() %}
    "{{ name }}": "{{ version }}"{% if not loop.last %},{% endif %}
{%- endfor %}
  },
  "devDependencies": {
{%- for name, version in dev_dependencies_map.items() %}
    "{{ name }}": "{{ version }}"{% if not loop.last %},{% endif %}
{%- endfor %}
  }
}
