{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview",
    "serve": "vite preview",
    "watch": "npm run serve",
    "update": "npm update"{% if generate_client %},
    "generate-types": "openapi-ts"{% endif %}
  },
  "dependencies": {
{%- for dep in dependencies %}
    "{{ dep }}": "latest"{% if not loop.last or generate_zod %},{% endif %}
{%- endfor %}
{%- if generate_zod %}
    "zod": "^4.1.13"
{%- endif %}
  },
  "devDependencies": {
{%- for dep in dev_dependencies %}
    "{{ dep }}": "latest",
{%- endfor %}
{%- if use_tailwind %}
    "@tailwindcss/vite": "^4.1.17",
    "tailwindcss": "^4.1.17",
{%- endif %}
{%- if generate_client %}
    "@hey-api/openapi-ts": "^0.88.0",
{%- endif %}
    "litestar-vite-plugin": "latest",
    "vite": "^7.2.6"
  }
}
