{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "dist/out-tsc"
  },
  "files": ["{{ resource_dir }}/main.ts"],
  "include": ["{{ resource_dir }}/**/*.ts"],
  "angularCompilerOptions": {
    "enableI18nLegacyMessageIdFormat": false,
    "strictInjectionParameters": true,
    "strictInputAccessModifiers": true,
    "strictTemplates": true
  }
}
