{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
{% if enable_ssr %}
    "build": "vue-tsc -b && vite build && vite build --ssr {{ resource_dir }}/ssr.ts",
{% else %}
    "build": "vue-tsc -b && vite build",
{% endif %}
    "preview": "vite preview",
{% if enable_ssr %}
    "serve": "NODE_ENV=production node {{ resource_dir }}/bootstrap/ssr/ssr.js",
{% else %}
    "serve": "vite preview",
{% endif %}
    "watch": "npm run serve",
    "update": "npm update"{% if generate_client %},
    "generate-types": "openapi-ts"{% endif %}
  },
  "dependencies": {
    "@inertiajs/vue3": "{{ package_version('@inertiajs/vue3') }}",
    "vue": "{{ package_version('vue') }}"{% if generate_zod or enable_ssr %},{% endif %}
{%- if generate_zod %}
    "zod": "{{ package_version('zod') }}"{% if enable_ssr %},{% endif %}
{%- endif %}
{%- if enable_ssr %}
    "@vue/server-renderer": "{{ package_version('@vue/server-renderer') }}"
{%- endif %}
  },
  "devDependencies": {
    "@types/node": "{{ package_version('@types/node') }}",
    "@vitejs/plugin-vue": "{{ package_version('@vitejs/plugin-vue') }}",
    "@vue/tsconfig": "{{ package_version('@vue/tsconfig') }}",
    "typescript": "{{ package_version('typescript') }}",
    "vue-tsc": "{{ package_version('vue-tsc') }}",
{%- if use_tailwind %}
    "@tailwindcss/vite": "{{ package_version('@tailwindcss/vite') }}",
    "tailwindcss": "{{ package_version('tailwindcss') }}",
{%- endif %}
{%- if generate_client %}
    "@hey-api/openapi-ts": "{{ package_version('@hey-api/openapi-ts') }}",
{%- endif %}
    "litestar-vite-plugin": "{{ package_version('litestar-vite-plugin') }}",
    "vite": "{{ package_version('vite') }}"
  }
}
