{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "nuxt dev",
    "build": "nuxt build",
    "preview": "nuxt preview",
    "serve": "node .output/server/index.mjs",
    "watch": "npm run serve",
    "postinstall": "nuxt prepare",
    "typecheck": "vue-tsc -b --noEmit",
    "update": "npm update"{% if generate_client %},
    "generate-types": "openapi-ts --config openapi-ts.config.ts"{% endif %}
  },
  "dependencies": {
    "nuxt": "{{ package_version('nuxt') }}",
    "vue": "{{ package_version('vue') }}"{% if generate_zod %},
    "zod": "{{ package_version('zod') }}"{% endif %}
  },
  "devDependencies": {
{% if generate_client %}    "@hey-api/openapi-ts": "{{ package_version('@hey-api/openapi-ts') }}",
{% endif %}{% if use_tailwind %}    "@tailwindcss/vite": "{{ package_version('@tailwindcss/vite') }}",
{% endif %}    "litestar-vite-plugin": "{{ package_version('litestar-vite-plugin') }}",
{% if use_tailwind %}    "tailwindcss": "{{ package_version('tailwindcss') }}",
{% endif %}    "typescript": "{{ package_version('typescript') }}",
    "vite": "{{ package_version('vite') }}",
    "vue-tsc": "{{ package_version('vue-tsc') }}"
  }
}
