<!DOCTYPE html>
<html>
<head><meta charset="utf-8" /></head>
<body>
<div id="root">CLIENT_PLACEHOLDER</div>
<script id="app_page" type="application/json">{{ inertia | safe }}</script>
</body>
</html>
