@import "https://cdn.jsdelivr.net/npm/tailwindcss@3.4.13/dist/tailwind.min.css";

:root {
  color: #202235;
  background-color: #f8fafc;
  font-family: "Inter", "SF Pro Text", system-ui, -apple-system, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
