{
  "name": "{{ project_name }}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite dev",
    "build": "vite build",
    "preview": "vite preview",
    "serve": "node build",
    "watch": "npm run serve",
    "prepare": "svelte-kit sync",
    "check": "svelte-kit sync && svelte-check --tsconfig ./tsconfig.json",
    "check:watch": "svelte-kit sync && svelte-check --tsconfig ./tsconfig.json --watch"{% if enable_types %},
    "generate-types": "openapi-ts --config openapi-ts.config.ts"{% endif %}
  },
  "dependencies": {
    "@sveltejs/kit": "{{ package_version('@sveltejs/kit') }}",
    "svelte": "{{ package_version('svelte') }}"{% if generate_zod %},
    "zod": "{{ package_version('zod') }}"{% endif %}
  },
  "devDependencies": {
{%- if enable_types %}
    "@hey-api/openapi-ts": "{{ package_version('@hey-api/openapi-ts') }}",
{%- endif %}
    "@sveltejs/adapter-node": "{{ package_version('@sveltejs/adapter-node') }}",
    "@sveltejs/vite-plugin-svelte": "{{ package_version('@sveltejs/vite-plugin-svelte') }}",
{%- if use_tailwind %}
    "@tailwindcss/vite": "{{ package_version('@tailwindcss/vite') }}",
{%- endif %}
    "litestar-vite-plugin": "{{ package_version('litestar-vite-plugin') }}",
    "svelte-check": "{{ package_version('svelte-check') }}",
{%- if use_tailwind %}
    "tailwindcss": "{{ package_version('tailwindcss') }}",
{%- endif %}
    "tslib": "{{ package_version('tslib') }}",
    "typescript": "{{ package_version('typescript') }}",
    "vite": "{{ package_version('vite') }}"
  }
}
